@model Demo.MVC.EF.Models.ItemsDTO

@*<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwUy8m4t1I0cQooiNsiENokixRJ_AWakyUDQ&usqp=CAU" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Category </h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>*@

<partial name="_ItemsDetails" model="Model" />