<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Demo.MVC.EF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        .fixed-left {
            width: 100%;
            position: absolute;
            max-width: 15%;
            height: 90%;
            background-color: lavender !important;
            padding: 20px;
            vertical-align: baseline;
        }
     li {
         list-style:none;
         line-height:20px;
     }
    </style>

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="https://scroll.in/static/assets/food-share.6fb9030e4173d5e66bc0353cc6d80ccc.003.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Food Orders
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Customers" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                @await Component.InvokeAsync("Category")
                                @*    
                                    Incase if you want to hard code the data 
                                    
                                 <li><a class="dropdown-item" asp-controller="Items" asp-action="Index" asp-route-category="Breakfast">Breakfast</a></li>
                                <li><a class="dropdown-item" asp-controller="Items" asp-action="Index" asp-route-category="Lunch">Lunch</a></li>
                                <li><a class="dropdown-item" asp-controller="Items" asp-action="Index" asp-route-category="Beverages">Beverages</a></li>
                                *@
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Items" asp-action="Index">All Items Menu</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" name="searchString" aria-label="Search">
                        <button class="btn btn-outline-success" asp-action="Index" asp-controller="Search" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <nav class="fixed-left">
            @await Component.InvokeAsync("CheckboxCategory")
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Food Orders MS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if (window.innerWidth < 1300) {
                $("main").css("margin-left", "11%");
                $("body").css("max-height", "100%");

            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
