@page
@model Demo.ASP.NET.Core.Pages.Customers.IndexModel
@{
}

@foreach(var item in Model.Items)
{

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Category , Price is : @item.Price.</p>
            </div>
        </div>
    }
}